<h1>Display your Pirate here</h1>
<p><%= @pirate.name %></p>
<p><%= @pirate.height %></p>
<p><%= @pirate.weight %></p>

<h2>Display your first ship here</h2>
    <% @ships.each.with_index do |ship, index|%>%
    <%if index == 0  %>
    <p><%= ship.name %></p>
    <p><%= ship.type %></p>
    <p><%= ship.booty %></p>
    <%end%>
    <%end%>
  
<h2>Display your second ship here</h2>
 <% @ships.each.with_index do |ship, index|%>
   <%if index == 1 %>
    <p><%= ship.name %></p>
    <p><%= ship.type %></p>
    <p><%= ship.booty %></p>
    <%end%>
    <%end%>
   